$colorSelectSite: #F16D7F;
$widthSite: 1140px;
$widthSiteTablet: 768px;
$widthSitePhone: 375px;
$colorTextWhite: #FFFFFF;
$bgColorWhite:#FFFFFF;
$colorText: #000000;
$boxShadow:6px 4px 35px rgba(0, 0, 0, 0.21);
$widthBurgerMenu:232px;