$colorSelectSite: #F16D7F;
$widthSite: 1140px;
$widthSiteTablet: 768px;
$widthSitePhone: 375px;
$colorTextWhite: #FFFFFF;
$bgColorWhite:#FFFFFF;
$colorText: #000000;
$colorTextBlack: #222222;
$colorOptionsText:#575757;
$colorOptionsText_2:#6F6E6E;
$boxShadow:6px 4px 35px rgba(0, 0, 0, 0.21);
$boxShadowCart: 27px 12px 45px -4px rgba(0, 0, 0, 0.2);
$widthBurgerMenu:232px;