* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: #F16D7F;
}
a:active {
  color: #222222;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

img {
  width: 100%;
}

.top {
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  background-color: #222;
  justify-content: space-between;
  position: relative;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__img {
  width: 44px;
  height: 38px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header__right_img {
  width: 32px;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}

.nav {
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 75px;
  right: 0;
  transition: right 0.3s;
}

.top-head {
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F3F4;
}
.top-head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #F16D7F;
  line-height: 29px;
}

.product-cart {
  display: flex;
  padding-top: 96px;
  flex-direction: row;
  justify-content: space-between;
}
.product-cart__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.product-cart__product {
  height: 306px;
  width: 652px;
  display: flex;
  flex-direction: row;
  position: relative;
  box-shadow: 27px 12px 45px -4px rgba(0, 0, 0, 0.2);
}
.product-cart__product__img {
  width: 262px;
}
.product-cart__product__img_cross {
  position: absolute;
  right: 22px;
  top: 28px;
  width: 18px;
  height: 18px;
}
.product-cart__product__options {
  display: flex;
  flex-direction: column;
  padding-left: 31px;
  padding-right: 22px;
}
.product-cart__product__options__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-top: 22px;
  padding-bottom: 42px;
  color: #222222;
}
.product-cart__product__options__text {
  padding-right: 5px;
  padding-bottom: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.product-cart__product__options__text__span {
  color: #6F6E6E;
}
.product-cart__product__options__text__span_pink {
  color: #F16D7F;
}
.product-cart__product__options__text__Quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-cart__product__options__label {
  display: block;
}
.product-cart__product__options__input {
  box-sizing: border-box;
  text-align: center;
  height: 25px;
  width: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  margin-left: 24px;
  border: 1px solid rgba(101, 101, 101, 0.2509803922);
}
.product-cart__product__options__input:focus {
  outline: none;
}
.product-cart__product__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 652px;
  padding-top: 72px;
  padding-bottom: 128px;
}
.product-cart__product__buttons__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  line-height: 17px;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
}
.product-cart__product__buttons__button:hover {
  background-color: #F16D7F;
  border-color: #F16D7F;
  color: #FFFFFF;
}
.product-cart__product__buttons__button:active {
  background-color: #222;
  border-color: #222;
}
.product-cart__right {
  display: flex;
  flex-direction: column;
}
.product-cart__right__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #222222;
  line-height: 19px;
  padding-bottom: 20px;
}
.product-cart__right__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-cart__right__form__input {
  padding-left: 15px;
  padding-right: 15px;
  height: 45px;
  border: 1px solid #A4A4A4;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  color: #222222;
  line-height: 16px;
}
.product-cart__right__form__input::-moz-placeholder {
  color: #B1B1B1;
}
.product-cart__right__form__input:-ms-input-placeholder {
  color: #B1B1B1;
}
.product-cart__right__form__input::placeholder {
  color: #B1B1B1;
}
.product-cart__right__form__input:focus {
  outline: none;
}
.product-cart__right__form__quote {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 35px;
  border: 1px solid #A4A4A4;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  color: #4A4A4A;
  line-height: 13px;
  background: #FFFFFF;
}
.product-cart__right__form__quote:hover {
  background-color: #F16D7F;
  border-color: #F16D7F;
  color: #FFFFFF;
}
.product-cart__right__form__quote:active {
  background-color: #222;
  border-color: #222;
}
.product-cart__right__total {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 57px;
  background-color: #F5F3F3;
  width: 360px;
  height: 214px;
}
.product-cart__right__total__text {
  position: absolute;
  top: 39px;
  right: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #4A4A4A;
  line-height: 13px;
}
.product-cart__right__total__text__span {
  padding-left: 8px;
}
.product-cart__right__total__text__2 {
  position: absolute;
  top: 64px;
  right: 37px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #222222;
}
.product-cart__right__total__text__2__span {
  font-weight: 700;
  padding-left: 8px;
  color: #F16D7F;
}
.product-cart__right__total__line {
  position: absolute;
  top: 104px;
  right: 42px;
  width: 275px;
  height: 1px;
  background-color: #E2E2E2;
}
.product-cart__right__total__button {
  position: absolute;
  top: 122px;
  right: 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.product-cart__right__total__button:hover {
  background-color: #D73C3C;
}
.product-cart__right__total__button:active {
  background-color: #222222;
}

.background {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  background-color: #222224;
  justify-content: center;
  align-items: center;
  padding-top: 104px;
  padding-bottom: 104px;
}
.background__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background__heading {
  padding-top: 19px;
  padding-bottom: 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #FBFBFB;
  line-height: 24px;
}
.background__text {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #FBFBFB;
  line-height: 17px;
}

.feedback {
  height: 448px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-image: url(img/fb_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.feedback__content {
  height: 448px;
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedback__content_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.feedback__text {
  width: 359px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  color: #222224;
  line-height: 24px;
}
.feedback__content_2 {
  width: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  color: #222224;
  line-height: 167%;
}
.feedback__subtitle {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #222224;
  line-height: 167%;
  padding-bottom: 32px;
}

.subscribe {
  height: 49px;
  width: 356px;
  display: flex;
  align-items: center;
  position: relative;
}
.subscribe__email_text {
  border: 0;
  position: absolute;
  background-color: #E1E1E1;
  border-radius: 30px 0 0 30px;
  height: 49px;
  width: 256px;
  left: 0;
  top: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #222224;
  padding-left: 20px;
}
.subscribe__email_text:focus {
  outline: none;
}
.subscribe__button {
  border: 0;
  position: absolute;
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  border-radius: 0 30px 30px 0;
  right: 0;
  top: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}
.subscribe__button:hover {
  background-color: #D73C3C;
}
.subscribe__button:active {
  background-color: #222224;
}

.copyright {
  background-color: #222224;
}
.copyright__content {
  display: flex;
  align-items: center;
  height: 79px;
  width: 100%;
  justify-content: space-between;
}
.copyright__text_block {
  display: flex;
  align-items: center;
}
.copyright__text {
  color: #FBFBFB;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}
.copyright__social_block {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.social__link {
  background-color: #FFFFFF;
  height: 16px;
  padding: 8px;
  transition: 0.3s;
}
.social__link:hover {
  background-color: #F16D7F;
}
.social__link:active {
  background-color: #D73C3C;
}/*# sourceMappingURL=style.css.map */